<h2
  class=""
  style="text-align:center"
  [style]="{ color: 'var(--blue-500)', 'font-weight': 'bold' }"
>
  MAINTENANCE EVENT DATA
</h2>

<p-card [style]="{'width': '1990px'}" >
  <div class="top-section">
    <div class="far-left-section">
      <div [style]="{ 'margin-left': '4.5rem', 'margin-bottom': '0.5rem' }">
        <label>Log No:</label>
        <input pInputText type="text" type="text" />

        <label [style]="{ 'margin-left': '2rem' }">Event Date:</label>
        <!-- <p-calendar inputId="basic" [(ngModel)]="eventDate" [style]="{'margin-left': '1rem'}"></p-calendar> -->
        <input pInputText type="text" type="text" />
      </div>
      <div
        class=""
        [style]="{ 'margin-left': '3rem', 'margin-bottom': '0.5rem' }"
      >
        <label>Part Name:</label>
        <input pInputText type="text" [style]="{ width: '521px' }" />
      </div>
      <div
        [style]="{ padding: '10px', 'border-radius': '8px', width: '680px' }"
        [ngStyle]="{ backgroundColor: 'var(--blue-50)' }"
      >
        <div [style]="{ 'margin-left': '3rem', 'margin-bottom': '0.5rem' }">
          <label>Test Item:</label>
          <input pInputText type="text" [style]="{ width: '523px' }" />
        </div>
        <div class="">
          <label>Test Item Model:</label>
          <input pInputText type="text" />
          <p-button
            [style]="{
              'margin-left': '1.5rem',
              width: '130px',
              height: '30px',
              backgroundColor: 'rgb(69 69 69)',
              border: 'none'
            }"
            >Test Item List</p-button
          >
        </div>
      </div>
    </div>
    <!--end of far-left-section-->

    <div class="middle-right-section">
      <div [style]="{ 'margin-left': '3.6rem', 'margin-bottom': '0.5rem' }">
        <label>Enter Date:</label>
        <!-- <p-calendar [(ngModel)]="enterDate"></p-calendar> -->
        <input pInputText type="text" type="text" />
      </div>
      <div [style]="{ 'margin-left': '3.5rem', 'margin-bottom': '0.5rem' }">
        <label>Entered By:</label>
        <input pInputText type="text" />
        <p-button
          [style]="{
            height: '30px',
            'margin-right': '6rem',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >Name List</p-button
        >
        <p-checkbox name="groupname" value="val1"></p-checkbox>

        Data Entry Completed
      </div>
      <div [style]="{ 'margin-bottom': '0.5rem' }">
        <p-button
          [style]="{
            height: '30px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >Location List</p-button
        >
        <input pInputText type="text" [style]="{ width: '313px' }" />
      </div>
      <div [style]="{ 'margin-left': '1.7rem' }">
        <label>Ref. Document:</label>
        <input pInputText type="text" [style]="{ width: '315px' }" />
      </div>
    </div>
    <!--middle-right-section-->
  </div>
  <!--end of top section-->
</p-card>

<p-card [style]="{ 'margin-top': '-0.8rem', 'margin-bottom': '-0.9rem', 'width': '1990px' }">
  <span
    [style]="{
      color: 'var(--blue-500)',
      'font-weight': 'bold',
      'margin-bottom': '3rem'
    }"
    >Text Narratives</span
  >
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="tablebuttons"></th>
          <th [ngStyle]="{ color: 'var(--blue-500)' }">Type</th>
          <th [style]="{ color: 'var(--blue-500)' }">Text</th>
          <th class="tablebuttons"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >Type</p-button
            >
          </td>
          <td>
            <input pInputText type="text" placeholder="0001" style="width: 400px"/>
          </td>
          <td>
          <input pInputText type="text" placeholder="Blue" style="width: 400px"/>
          </td>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >View Text</p-button
            >
          </td>
        </tr>
        <tr>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >Type</p-button
            >
          </td>

          <td>
          <input pInputText type="text" placeholder="0002" style="width: 400px"/>
          </td>
          <td>
          <input pInputText type="text" placeholder="Gray" style="width: 400px"/>
          </td>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >View Text</p-button
            >
          </td>
        </tr>
        <tr>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >Type</p-button
            >
          </td>
          <td>
          <input pInputText type="text" placeholder="0003" style="width: 400px"/>
          </td>
          <td>
          <input pInputText type="text" placeholder="Green" style="width: 400px"/>
            
          </td>
          <td class="tablebuttons">
            <p-button
              [style]="{
                height: '30px',
                backgroundColor: 'rgb(69 69 69)',
                border: 'none'
              }"
              >View Text</p-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</p-card>

<div class="columns-container">
  <p-card class="box-1">
    <div class="left-bottom-section">
      <div>
        <span [style]="{ color: 'var(--blue-500)', 'font-weight': 'bold' }"
          >Maint & Mission Effect Data</span
        >
      </div>
      <div
        [style]="{
          'margin-top': '2rem',
          'margin-left': '0.5rem',
          'margin-bottom': '0.5rem'
        }"
      >
        <label>Maint interval:</label>
        <input pInputText type="text" />
        <p-button
          [style]="{
            height: '30px',
            width: '140px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >Interval List</p-button
        >
      </div>
      <div [style]="{ 'margin-bottom': '0.5rem' }">
        <label>Maint Function:</label>
        <input pInputText type="text" />
        <p-button
          [style]="{
            height: '30px',
            width: '140px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >Function List</p-button
        >
      </div>
      <div [style]="{ 'margin-bottom': '0.5rem' }">
        <label>Maint Function:</label>
        <input pInputText type="text" />
        <p-button
          [style]="{
            height: '30px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >Msn Effect List</p-button
        >
      </div>
    </div>
  </p-card>

  <p-card class="box-1">
    <div class="middle-right-bottom">
      <div>
        <span [style]="{ color: 'var(--blue-500)', 'font-weight': 'bold' }"
          >Part Worked On or Removed</span
        >
      </div>
      <div
        [style]="{
          'margin-top': '2rem',
          'margin-left': '1.2rem',
          'margin-bottom': '0.5rem'
        }"
      >
        <label>Part Number:</label>
        <input pInputText type="text" />
      </div>
      <div [style]="{ 'margin-left': '0.5rem', 'margin-bottom': '0.5rem' }">
        <label>Serial Number:</label>
        <input pInputText type="text" />
      </div>
      <div [style]="{ 'margin-left': '1.5rem', 'margin-bottom': '0.5rem' }">
        <label>Maint MMC:</label>
        <input pInputText type="text" [style]="{ width: '370px' }" />
      </div>
      <div [style]="{ 'margin-left': '2.7rem' }">
        <label>Part MFG:</label>
        <input pInputText type="text" [style]="{ width: '260px' }" />
        <p-button
          [style]="{
            height: '30px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >MFG List</p-button
        >
      </div>
    </div>
  </p-card>

  <p-card class="box-1">
    <div class="far-right-bottom">
      <div>
        <span [style]="{ color: 'var(--blue-500)', 'font-weight': 'bold' }"
          >New Part Installed</span
        >
      </div>
      <div
        [style]="{
          'margin-top': '2rem',
          'margin-left': '1.3rem',
          'margin-bottom': '0.5rem'
        }"
      >
        <label>Part Number:</label>
        <input pInputText type="text" [style]="{ width: '360px' }"/>
      </div>
      <div [style]="{ 'margin-left': '0.6rem', 'margin-bottom': '0.5rem' }">
        <label>Serial Number:</label>
        <input pInputText type="text" [style]="{ width: '360px' }"/>
      </div>
      <div>
        <p-button
          [style]="{
            height: '30px',
            backgroundColor: 'rgb(69 69 69)',
            border: 'none'
          }"
          >MMC List</p-button
        >
        <input pInputText type="text" [style]="{ width: '360px' }"/>
      </div>
    </div>
  </p-card>
</div>
