/* ::deep p-card {
  padding-bottom: 10px;
} */
/* .table-container {
  text-align: center;
} */



.tablebuttons {
  width: 140px !important;
  text-align: center;
}

::ng-deep p-card  {
  padding: 0.2rem;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
}

td, th {
  border: 1px solid rgb(216, 216, 216);
  padding: 0.5rem;
  text-align: left;
  width: 400px;

}
thead {
  background-color: rgb(245, 245, 245);
}
input[type="text"]{
  margin-left: 10px;
  /* margin-bottom: 10px; */
  /* width: 100px; */
  height: 30px
}

p-button {
  margin-left: 10px;

}

.top-section {
	display: flex;
}


.far-left-section  {
  width: 40%;
 
}

.middle-right-section {
  width: 40%;
  
} 



/* 3 box columns */
.columns-container {
	display: flex;
  
}


.middle-right-bottom {
  width: 500px;
}


::ng-deep p-card > div {
  min-height: 290px;
  min-width: 550px;
}

/* p-card {
  width: 900px;
} */